### Задание 1
Импортируйте библиотеки `pandas` и `numpy`.

Загрузите `"Boston House Prices dataset"` из встроенных наборов данных библиотеки `sklearn`. Создайте датафреймы **X** и **Y** из этих данных.

Разбейте эти датафреймы на тренировочные `(X_train, y_train)` и тестовые `(X_test, y_test)` с помощью функции `train_test_split` так, чтобы размер тестовой выборки составлял **30%** от всех данных, при этом аргумент `random_state` должен быть равен **42**.

Создайте модель линейной регрессии под названием **lr** с помощью класса `LinearRegression` из модуля `sklearn.linear_model`.
    
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
    
Вычислите **R2** полученных предказаний с помощью `r2_score` из модуля `sklearn.metrics`.

In [81]:
import warnings

import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score


warnings.filterwarnings('ignore')

In [66]:
boston = load_boston()
data = boston["data"]
print(boston.data.shape)
print(boston.target.shape)

(506, 13)
(506,)

In [70]:
X = pd.DataFrame(data=boston.data, columns=boston['feature_names'])
X.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [12]:
Y = pd.DataFrame(data=boston.target, columns=['price'])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [19]:
print(X.info(),'\n'), print(Y.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB
None

(None, None)

In [45]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [46]:
lr = LinearRegression(copy_X=True)

In [47]:
lr_ref = lr.fit(X_train, Y_train)

In [48]:
Y_pred = lr_ref.predict(X_test)

In [82]:
r2_score(y_true=Y_test, y_pred=Y_pred)

0.7112260057484974

In [91]:
print(Y_pred[:6]) 
print(Y_test.head(6))

[[28.64896005]
 [36.49501384]
 [15.4111932 ]
 [25.40321303]
 [18.85527988]
 [23.14668944]]
     price
173   23.6
274   32.4
491   13.6
72    22.8
452   16.1
76    20.0